.subscribe-button{
  background-color: rgb(7, 112, 128);
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}  
.subscribe-button:hover{
  opacity: 0.3;
}

.subscribe-button:active{
  opacity: 0.5;
}

.join-button{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 1px;
  height: 36px;
  width: 85px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.tweet-button{
  background-color: rgb(27, 153, 243);
  color: rgb(255, 255, 255);
  border: none;
  border-width: 1px;
  height: 36px;
  width: 74px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  }
.tweet-button:hover{
  box-shadow: 5px 5px 7px rgba(0,0,0,.6);
}